<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Student Management System</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
				<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					<h1 class="text-center">Update student</h1>
					<div class="card-form">
						<form th:action="@{/students/{id} (id=${student.id})}" th:object="${student}" method="POST">
							<div class="form-group">
								<label>Student first name</label>
								<input type="text" name="firstName" class="form-control" th:field="*{firstName}" placeholder="Enter your first name"/>
							</div>
							<div class="form-group">
								<label>Student last name</label>
								<input type="text" name="lastName" class="form-control" th:field="*{lastName}" placeholder="Enter your last name"/>
							</div>
							<div class="form-group">
								<label>Student email</label>
								<input type="text" name="email" class="form-control" th:field="*{email}" placeholder="Enter email"/>
							</div>
							<div class="box-footer">
								<button type="submin" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
				<footer class="footer mt-auto py-3">
  			<div class="container">
				<p class="h2">Spring Boot/Spring MVC/Hibernate/MySQL/Thymeleaf/Bootstrap</p>
  			</div>
		</footer>
	</body>
</html>